# Virtual environment
color/
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter checkpoints
.ipynb_checkpoints/

# Data lớn (không commit lên Git)
data/raw/
data/processed/
models/*.pth
models/*.pt

# MLflow
mlruns/
mlflow.db

# Large model weights
models/pretrained/
models/deep_learning/*.pth

# IDE
.vscode/settings.json
*.swp

# Temp files
.tmp/